*
{
    margin: 0;
    padding: 0;
}
body 
{  
    
}

canvas 
{
	display: block;
    background-image: url(FrontCover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Home
{
    position:absolute;
    top :150px;
    left:300px;
    width: 745px;
    height: 400px;
    background-color:black;
    opacity: 0.6;
    color:lightyellow;
    font-size: 50px;
    text-align: left;
}
#menu_bar
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: darkslategray;
}

#menu_bar ul
{
    position: absolute;
    top: 0;
    left: 250px;
}
#menu_bar ul li
{
    float: left;
    margin-left: 50px;
    display: block;
    height: 40px;
    line-height: 40px;
}
#menu_bar ul li a
{
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: azure;
}
#ht:hover,#ab:hover,#sk:hover,#ed:hover,#hb:hover,#ac:hover
{
    border-bottom: solid 5px red;
    background-color: gainsboro;
    color: darkslategrey;
}
#ht:active,#ab:active,#sk:active,#ed:active,#hb:active,#ac:active
{
    border-bottom: solid 5px limegreen;
}
@media screen and (max-width: 1100px)
{
    #menu_bar ul
    {
      position: absolute;
        left: 0;
    }
    #home_b
    {
        visibility: visible;
    }
}
@media screen and (max-width: 850px)
{
    #menu_bar ul
    {
      visibility: hidden;
    }
}
#second
{
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
}
#third
{
    position: absolute;
    top:150%;
    height: 50%;
    width: 100%;
    background-color: magenta;
}

#fourth
{
    position: absolute;
    top: 200%;
    height: 100%;
    width: 100%;
    background-color: brown;
}
#first_para
{
    position: absolute;
    left: 20%;
    margin-top: 400px;
    width: 60%;
    font-size: 30px;
    height: 40%;
    text-align: center;
    color: seashell;
}

#demo
{
    width: 60%;
    font-size: 30px;
    height: 40%;
    text-align: center;
    color: seashell;
}
@media screen and (max-width: 650px)
{
    #first_para
    {
       font-size: 20px; 
    }
}

#home_b
{
    height: 40px;
    width: 50px;
    visibility: hidden;
    
}
#pro_pic
{
    position: absolute;
    top: 100px;
    left:45%;
    height:200px;
    border-radius: 100px;
    border: solid 2px white;
}