*
{
    margin: 0;
    padding: 0;
}
body 
{
}
#top_div
{
    position: absolute;
    top: 0;
    height: 40%;
    width: 100%;
    background-color: black;
}
#top_img
{
    height: 100%;
    width: 100%;
    opacity: 0.6;
}
#Name
{
    position: absolute;
    top: 100px;
    left: 30%;
    color: lightgoldenrodyellow;
    font-size: 400%;
    font-family:Lucida Calligraphy;
    width: 1000px;
}
#heading
{
    position: absolute;
    top: 200px;
    left: 35%;
    color: pink;
    font-size: 200%;
    font-family:Lucida Calligraphy;
    width: 1000px;
}
/*background_parallax*/
#fixed_back
{
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    background-image: url(hand_writing.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#fixed_back_a
{
    position: absolute;
    top: 240%;
    height: 100%;
    width: 100%;
    background-image: url(gbook.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#fixed_back_b
{
    position: absolute;
    top: 380%;
    height: 100%;
    width: 100%;
    background-image: url(dslr.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#fixed_back_c
{
    position: absolute;
    top: 520%;
    height: 100%;
    width: 100%;
    background-image: url(chess.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/*into*/
#intro
{
    position: absolute;
    top: 40%;
    height:60%;
    width: 100%;
    background-color: darkgrey;
}
/*About*/
#About
{
    position: absolute;
    top:120%;
    height:60%;
    width: 100%;
    background-color: lightblue;
    opacity: 0.6;
}
#Edu
{
    position: absolute;
    top:200%;
    height:40%;
    width: 100%;
    background-color: white;
    opacity: 0.5;
}
#Skill
{
    position: absolute;
    top:260%;
    height:60%;
    width: 100%;
    background-color:lavender;
    opacity: 0.5;
}
#Hobi
{
    position: absolute;
    top:340%;
    height:40%;
    width: 100%;
    background-color: white;
    opacity: 0.5;
}
#Ach
{
    position: absolute;
    top:400%;
    height:60%;
    width: 100%;
    background-color: blanchedalmond;
    opacity: 0.5;
}
#menu_bar
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: darkslateblue;
}

#menu_bar ul
{
    position: absolute;
    top: 0;
    left: 300px;
}
#menu_bar ul li
{
    float: left;
    margin-left: 50px;
    display: block;
    height: 40px;
    line-height: 40px;
}
#menu_bar ul li a
{
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: azure;
}
#profile
{
    position: absolute;
    top: 5%;
    left: 25%;
    height: 90%;
    width: 50%;
    background-color: snow;
}
#profile_pic
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
#Intro_para
{
    position: absolute;
    left: 45%;
    top: 0;
    font-size: 150%;
    height: 100%;
    width: 50%;
}
#Read_more
{
    text-decoration: none;
    padding: 20px;
    background-color: lightslategray;
    color: cornsilk;
}